body
   background-color: #000000
   display: flex
   justify-content: center
   height: 99vh
   padding: 0
   margin: 0

.tetris
   background: url('/bg.png')
   background-size: 10px
   margin: auto 0 

.wrap
   color: #ffffff
   font-size: 20px
   font-family: Arial, Helvetica, sans-serif
   margin-right: 10px
   .score

   .beginAgain
      border: 2px solid #ffffff
      padding: 5px
      cursor: pointer

.nextFigure
   width: 132px
   height: 132px
   background: url('../bg.png')
    background-size: 10px
